:root{
    --bs-btn-hover-bg: #CD3D0F;
}

main {
    margin-top: 67px;
}

section {
    padding: 2rem 0;
}

footer {
    font-size: .7rem
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li {
    list-style: none;
}

.bg-jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.bg-returnal {
    background-image: url(../img/returnal-card.png);
    background-size: cover;
    background-position: center;
}

.bg-orange {
    background-color: #CD3D0F;
}

.bg-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bg-ps-now {
    background-color: #161C3B;
}

.p-jumbotron {
    padding-top: 150px;
}

.text-l-blue {
    color: #0070D1;
}

.img-take-w {
    width: 300px;
}

.logo-banner {
    width: 50%;
    height: auto;
}

li.nav-item:focus .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100vw;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    top: 66px;
    left: 0;
}

.dropdown-content>* {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}

.font-0_85{
    font-size: 0.85em;
}

.card{
    background-color: transparent;
}
