main {
    margin-top: 67px;
}

section {
    padding: 2rem 0;
}

.bg-jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.p-jumbotron {
    padding-top: 150px;
}

.bg-orange {
    background-color: #CD3D0F;
}

.text-l-blue{
    color: #0070D1;
}
