@media screen and (min-width: 768px) {
    .align-text-ps5{
        align-items: last baseline;
    }

    .img-md-w{
        width: 60px;
    }
}

@media screen and (min-width: 992px) {
    .img-lg-w{
        width: 100px;
    }
}